.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.searchBar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}
.searchBar p {
    margin-right: 1rem;
}
.logoParent > .logo {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;    
}